/* ––––––– */
/* Imports */
/* ––––––– */
/* This keeps our css organised by splitting into smaller more focused files instead of one big one */

@import '_resets.css';
@import '_typography.css';

/* –––––––—— */
/* Variables */
/* –––––––—— */
/* This allows us to reuse values easily and edit all from one place if we want to change later */
:root {
  /* Colours */
  --black: #192526;
  --orange: #DE864C;
  --green: #8B8A65;
  --beige: #F5F1EE;
  --blue: #ABB7BD;
  /* Screen sizes */
  /* Unfortunately we can't use these inside media queries yet but sass does let us do it, we'll talk about sass in the next class */
  --mobile: 0px;
  --tablet: 600px;
  --laptop: 900px;
}


body{
	background-color: var(--beige);
  overflow-x: hidden;
}

/*——————————*/
/*grid */
/*——————————*/
@media screen and (min-width:0) {
  .grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
    width: 100%;
    max-width: 1400px;
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media screen and (min-width:980px) {
  .grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 30px;
    width: 100%;
    max-width: 1440px;
    padding-left: 60px;
    padding-right: 60px;
  }

  .menu , .search {
    display: none;
  }

}

/*————————————————*/
/* Navigation */
/*————————————————*/

nav{
  top: 0;
  left: 0;
  width: 100%;
  padding: 1.5rem 100px;
  transition: 0.6s;
  position: fixed;
  z-index: 8;
}

nav.sticky {
  padding: 1rem 100px;
  background: var(--black);
}

.logo-wrapper{
  grid-column: 6 / span 2;
  justify-self: center;
  align-self: center;
}

.logo{
  position: relative;
  max-width: 80px;
}

.nav-1{
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-column: 1 / span 5;
  color: var(--beige);
  font-family: Lato;
  font-size: 12px;
  font-weight: 700;
}

.nav-2{
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-column: 8 / span 5;
  color: var(--beige);
  font-family: Lato;
  font-size: 12px;
  font-weight: 700;
}

a {
  text-decoration: none;
  color: var(--beige);
}

a:hover {
  color: var(--orange);
}

/* Header */
.header-2 {
  position: absolute;
  top: 0px;
  left: 0;
  z-index: 3;
}

.header-1 {
  position: absolute;
  top: 0px;
  left: 0;
  z-index: 1;
}

h1 {
  color: var(--beige);
  font-family: Montserrat;
  font-size: 80px;
  font-weight: 700;
  position: fixed;
  top: 125px;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 2;
}

/*———————————————————————*/
/* Welcome to Paradise */
/*———————————————————————*/

.Welcome-wrapper {
  grid-column: 2 / span 10;
  text-align: center;
  align-self: center;
  padding-top: 60rem;
  z-index: 5
}

.line {
  max-width: 368px;
  display: inline-grid;
  grid-column: 5 / span 3;
  padding-top: 3%;
  z-index: 5
}

h2.welcome-header {
  color: var(--green);
  font-family: Montserrat;
  font-style: normal;
  font-size: 42px;
  font-weight: 700;
  z-index: 5
}

p.welcome-paragraph {
  color: var(--black);
  font-family: Lato;
  font-style: normal;
  font-size: 20px;
  font-weight: 400;
  margin: 80px;
  background-color: #fffff;
  z-index: 5
}


/*——————————————————*/
/* Search Bar */
/*——————————————————*/

.container .input {
  border: 0;
  outline: none;
  color: var(--beige);
  z-index: 5;
}

.search-wrap {
  width: 500px;
  margin: 30px auto 30px auto;
}

.search-wrap .searchbox{
  position: relative;
  width: 500px;
  height: 60px;
}

.search-wrap .searchbox .input{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 14px;
  font-family: lato;
  background-color: var(--black);
}

.search-wrap .searchbox .btn {
  position: absolute;
  top: 0;
  right: 0;
  width: 60px;
  height: 100%;
  background: var(--black);
  z-index: 6;
  cursor: pointer;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.search-wrap .searchbox .btn:hover {
  background: var(--blue);
}

.search-wrap .searchbox .btn.btn-common .fas {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.search-wrap .search-wrap1 .searchbox .input{
  padding-right: 80px;
}

.fas {
  max-width: 20px;
}

/*———————————————————————*/
/* Best of Indonesia */
/*———————————————————————*/
.Best-of-Indonesia {
  grid-column: 2 / span 10;
  text-align: center;
  align-self: center;
  padding-top: 5rem;
  padding-bottom: 5rem;
  z-index: 5
}

h2.Best-header {
  color: var(--green);
  font-family: Montserrat;
  font-style: normal;
  font-size: 42px;
  font-weight: 700;
  z-index: 5
}

.slider{
  background-color: var(--beige);
  width: 960px;
  height: 350px;
  overflow: hidden;
  position: relative;
  margin: auto;
  z-index: 5;
}

.slide {
  height: 350px;
  display: flex;
  align-items: center;
  animation: slideshow 15s linear infinite;
}

.slide img {
  height: 350px;
  padding: 0 15px 0 15px;
}

@keyframes slideshow {
  0% {transform: translateX(0);}
  100% {transform: translateX(-100%);}
}

.slider::before, .slider::after {
  height: 100px;
  width: 500px;
  position: absolute;
  content: '';
  background: linear-gradient (to right, var(--beige) 0%, rgba(255,255,255,0) 100%);
  z-index: 6;
}

.slider::before {
  left: 0;
  top: 0;
}

.slider::after {
  left: 0;
  top: 0;
  transform: rotateZ(180deg);
}

/*————————*/
/* Bali */
/*————————*/

.balibox {
  margin-top: 250px;
}

/* Bali title */
.one {
  grid-column: 1 / span 3;
  text-align: center;
  color: var(--orange);
  font-family: Lato;
  font-style: normal;
  font-size: 24px;
  z-index: 5
}

.bali {
  grid-column: 4 / span 3;
  text-align: left;
  color: var(--orange);
  font-family: Montserrat;
  font-style: normal;
  font-size: 72px;
  font-weight: 700;
  margin-top: 50px;
  z-index: 5
}

.line2 {
  max-width: 75px;
  display: inline-grid;
  z-index: 5
}

/* Bali information */
.islandofthegods {
  color: var(--black);
  font-family: Lato;
  font-style: normal;
  font-size: 24px;
  font-weight: 700;
  z-index: 5
}

.balitext {
  display: flex;
  align-items: center;
  grid-column: 6 / span 7;
  z-index: 5
}

.islandofthegods-text-wrapper {
  max-width: 308px;
}

.whatisbali {
  color: var(--black);
  font-family: Lato;
  font-style: normal;
  font-size: 18px;
  font-weight: 400;
  margin-top: 40px;
  margin-bottom: 25px;
  z-index: 5
}

.bali-image {
  position: absolute;
  max-width: 675px;
  top: 2200px;
  left: 0;
  z-index: 5;
}

.explorebali {
  border: none;
  padding: 0.5rem 1rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  background: var(--black);


  color: var(--beige);
  font-family: Lato;
  font-style: normal;
  font-size: 12px;
  font-weight: 700;
  cursor: pointer;
  display: block;
  width: 100%;
}

/* Bali buttons */
h5 {
  color: var(--black);
  font-family: Lato;
  font-style: normal;
  font-size: 18px;
  font-weight: 700;
  z-index: 5
}

.balibuttons {
  margin: 0 0 0 30px;
  text-align: left;
  z-index: 5
}

.whattodo {
  margin-top: 65px;
  z-index: 5
}

.temple , .monkeyforest , .mount , .surf , .baliwaterfall , .foodie {
  border: none;
  padding: 0.5rem 0.5rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  background: #FFFAF6;
  margin-top: 20px;


  color: var(--black);
  font-family: Lato;
  font-style: normal;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.2em;
  cursor: pointer;
  display: block;
  width: 100%;
}

.temple , .surf {
  margin-top: 18px;
}

/*————————*/
/* Java */
/*————————*/

.javabox {
  margin-top: 500px;
}

/* Java title */
.two {
  grid-column: 11 / span 2;
  text-align: center;
  color: var(--blue);
  font-family: Lato;
  font-style: normal;
  font-size: 24px;
  z-index: 5
}

.java {
  grid-column: 8 / span 3;
  text-align: left;
  color: var(--blue);
  font-family: Montserrat;
  font-style: normal;
  font-size: 72px;
  font-weight: 700;
  margin-top: 50px;
  z-index: 5
}

/* java information */
.theheartofindonesia{
  color: var(--black);
  font-family: Lato;
  font-style: normal;
  font-size: 24px;
  font-weight: 700;
  z-index: 5
}

.javatext {
  display: flex;
  align-items: center;
  grid-column: 2 / span 6;
  z-index: 5
}

.theheartofindonesia-text-wrapper {
  max-width: 308px;
  margin: 0 0 0 50px;
  order: 1;
}

.whatisjava {
  color: var(--black);
  font-family: Lato;
  font-style: normal;
  font-size: 18px;
  font-weight: 400;
  margin-top: 40px;
  margin-bottom: 25px;
  z-index: 5
}

.java-image {
  position: absolute;
  max-width: 640px;
  top: 3450px;
  right: 0;
  z-index: 5;
}

.explorejava {
  border: none;
  padding: 0.5rem 1rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  background: var(--black);


  color: var(--beige);
  font-family: Lato;
  font-style: normal;
  font-size: 12px;
  font-weight: 700;
  cursor: pointer;
  display: block;
  width: 100%;
}

/* Java buttons */
h5 {
  color: var(--black);
  font-family: Lato;
  font-style: normal;
  font-size: 18px;
  font-weight: 700;
  z-index: 5
}

.javabuttons {
  text-align: left;
  z-index: 5
}

.whattodo {
  margin-top: 65px;
  z-index: 5
}

.borobudur , .ujungkulon, .bromo, .shopbatik , .javawaterfall , .bogor {
  border: none;
  padding: 0.5rem 0.5rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  background: #FFFAF6;
  margin-top: 20px;


  color: var(--black);
  font-family: Lato;
  font-style: normal;
  font-size: 12px;
  font-weight: 700;
  cursor: pointer;
  display: block;
  width: 105%;
}

.borobudur , .shopbatik {
  margin-top: 18px;
  order: 2;
}

.wave-background1{
  position: absolute;
  top: 2075px;
  z-index: 4;
  width: 1440px;
}

.wave-background2{
  position: absolute;
  top: 4300px;
  z-index: 4;
  width: 1440px;
}

.btn3:hover {
  border: 1px solid var(--black);
  color: var(--black);
  background: var(--beige);
  transition: 0.3s;
}

.btn1:hover {
  color: var(--beige);
  background: var(--orange);
  transition: 0.3s;
}

.btn2:hover {
  color: var(--beige);
  background: var(--blue);
  transition: 0.3s;
}

@media screen and (max-width:1420px) {
  .bali-image {
  max-width: 45%;
  }

  .java-image {
  max-width: 48%;
  }

  }

@media screen and (max-width:1150px) {
  .nav-1 , .nav-2{
    font-size: 10px;
  }

  h1 {
    font-size: 56px;
  }

  .Welcome-wrapper {
    padding-top: 50rem;
  }

  .balibox {
    margin-top: 400px;
  }

  .balibuttons {
    display: none;
  }

  .bali-image {
  top: 2250px;
  }

  .islandofthegods {
    margin-top: 50px;
  }

  .javabox {
    margin-top: 500px;
  }

  .java-image {
   top: 3300px;
  }

  .wave-background1 , .wave-bacground2{
    width: 1150px;
  }

}


@media screen and (max-width:980px){
  .nav-1 , .nav-2{
    display: none;
  }

  .menu {
    max-width: 20px;
    justify-self: flex-start;
    grid-column: 1 / span 1;
  }

  .search {
    max-width: 20px;
    justify-self: flex-end;
    grid-column: 4 / span 1;
  }

  nav.sticky {
    padding: 1rem 30px;
  }

  h1 {
    font-size: 48px;
    top: 80px;
  }

  .logo-wrapper{
    grid-column: 2 / span 2;
  }

  .logo{
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
  }

  .Welcome-wrapper {
    grid-column: 1 / span 4;
    padding-top: 40rem;
  }

  .line {
    grid-column: 2 / span 2;
  }

  .Best-of-Indonesia {
    grid-column: 1 / span 4;
  }

  h2.Best-header , h2.welcome-header {
    font-size: 32px;
  }

  p.welcome-paragraph {
    font-size: 18px;
  }

  .wave-background1 , .wave-bacground2{
      width: 900px;
  }

  .slide img {
    height: 300px;
    padding: 0 5px 0 5px;
  }

  /*————————*/
  /* Bali */
  /*————————*/

  .balibox {
    margin-top: 350px;
  }

  /* Bali title */
  .one {
    grid-column: 1 / span 1;
    font-size: 18px;
  }

  .bali {
    grid-column: 2 / span 1;
    font-size: 56px;
  }

  .islandofthegods {
    font-size: 18px;
  }

  .balitext {
    grid-column: 3 / span 2;
  }

  .islandofthegods-text-wrapper {
    max-width: 308px;
    margin-top: 100px;
  }

  .whatisbali , .whatisjava{
    font-size: 14px;
  }

  .explorebali , .explorejava{
    font-size: 12px;
  }

  .bali-image {
  top: 2050px;
  }

  /*————————*/
  /* Java */
  /*————————*/

  .javabox {
    margin-top: 300px;
  }

  /* Java title */
  .two {
    grid-column: 4 / span 1;
    font-size: 18px;
  }

  .java {
    grid-column: 2 / span 1;
    font-size: 56px;
    margin-top: 10px;
  }

  .theheartofindonesia{
    font-size: 18px;
  }

  .javatext {
    grid-column: 1 / span 2;
  }

  .theheartofindonesia-text-wrapper {
    max-width: 308px;
    margin: 50px 0 0 50px;
  }

  .java-image {
    top: 2700px;
  }

  .wave-background1{
    top: 1850px;
  }

  .wave-background2{
    top: 3350px;
  }

  .container {
    display: none;
  }

  }
